{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1 class="alert alert-primary text-center" >Articles index</h1>

    <table class="table">
        <thead class="table-info fw-bold">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Category</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
            
        </thead>
        <tbody class="align-middle ">
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>
                    {% if article.Category.name is defined %}
                        {{ article.Category.name }}
                    {% endif %}
                </td>
                <td class="fst-italic">{{ article.content }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('article_show', {'id': article.id}) }}">show</a>
                    <a class="btn btn-warning text-white" href="{{ path('article_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <a class="btn btn-primary btn-lg" href="{{ path('article_new') }}">Create new article</a>
    </div>
{% endblock %}
